body {
    margin: 0px;
    height: 100%;
}

.header {
    padding: 15px 0;
    background-color: #ffffff;     
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}

.logo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid green;
    width: 70%;
}

.logo-content-img { border: solid 0px #42515f;}

.address-text {
    font: normal normal bold 15px/20px Montserrat;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0px;
    color: blue;
    text-transform: capitalize;
    padding-left: 5px;
}

.address-book { color: black;}

* {box-sizing: border-box;}

.form-content {
    min-height: calc(100vh - 80px);
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}

.form {
    width: 65%;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px grey;
    border: 1px solid #074c7a;
    border-radius: 8px;
    opacity: 1;
}

.form-head-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #008CFF 0% 0% no-repeat padding-box;
    height: 80px;
    width: 100%;
    margin-top: 0px;
    /* margin-bottom: 40px; */
    border-radius: 8px 8px 0px 0px;
}

.form-head {
    width: 100%;
    background-color: #008cff;
    font: normal normal normal 20px/28px Roboto;
    letter-spacing: 0px;
    color: white;
    text-transform: capitalize;
    opacity: 1;
    padding-top: 10px;
    /* padding-bottom: ; */
    padding-left: 330px;
    align-items: center;
}

.form-logo-header {
    padding-right: 20px;
    cursor: pointer;
    padding-top: 10px;
}

.row-content {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
    border: 0px solid green;
}

.label {
    min-width: 140px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.text {
    font-size: 16px;
    color: #42515f;
    opacity: 1;
    font-family: Roboto;
}

.input {
    width: 100%;
    margin-top: 10px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font: normal normal normal 14px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    background-color: transparent;
    margin-right: 50px;
    margin-top: 10px;;
}

.select-data {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-end; */
    align-items: flex-start;
}

error-output {
    margin-left: 1  0px;
    font-size: 12px;
    font-style: italic;
    color: red;
}

.buttonParent {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    justify-content: space-between;
    margin-left: 150px;
}

.button {
    font-size: 20px;
    font-weight: Roboto;
    letter-spacing: 0px;
    color: #42515f;
    opacity: 1;
    background: transparent;
    border: none;
    font-weight: bold;
    min-width: 140px;
    padding: 7px 7px;
    border: 1px solid #707070;
    cursor: pointer;
    border-radius: 10px;
}

.submit-reset {
    margin-right: 150px;
}

.submitButton {
    background-color: #f4f4f4;
    border: 1px solid #a1a1a1;
    margin-right: 25px;
}

.resetButton {
    background-color: #f4f4f4;
    border: 1px solid #a1a1a1;
}

.cancelButton {
    text-decoration: none;
    text-align: center;
}

@media only screen and (max-width: 960px) {
    .cancelButton {
        margin-left: 0px;
    }
    .form {
        width: 85%;
        padding: 44px 20px;
    }
}

@media only screen and (max-width: 600px) {
    .form {
        margin-top: 10px;
    }
    .row {
        flex-direction: column;
    }
    .uploadButton {
        justify-content: flex-start;
    }
    /* .profile-radio-button {
        flex-flow: wrap;
    } */
    .submit-reset {
        width: 100%;
        display: flex;
        flex-grow: 1;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .submitButton {
        margin: 0;
    }
    .buttonParent {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
} 