body {
    margin: 0px;
    height: 100%;
}

.header {
    padding: 15px 0;
    background-color: #ffffff;     
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}

.logo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid green;
    width: 70%;
}

.logo-content-img { border: solid 0px #42515f;}

.address-text {
    font: normal normal bold 15px/20px Montserrat;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0px;
    color: blue;
    text-transform: capitalize;
    padding-left: 5px;
}

.address-book { color: black;}

* {box-sizing: border-box;}